@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root {
    --cor-pricipal: black;
    --cor-secudaria: rgb(33, 33, 252);
    --cor-destaque: rgb(17, 17, 120);
}

body {
    font-family: Faculty Glyphic;
}

h1, h2, h5 {
    color: var(--cor-secudaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-pricipal);
}

footer a:hover {
    color: var(--cor-destaque);
}
